<!DOCTYPE html>
<html>
<head>
  <title>Rubik's Cube Timer</title>

  <meta name="description" content="A simple online timer for
  speedsolving Rubik's cubes and other mechanical puzzles.">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag "application",
    media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application",
    "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<header class="well">
  <p>
    <a href="<%= new_user_session_path %>">Login</a> |
    <a href="<%= new_user_registration_path %>">Signup</a>
  </p>
</header>
<div id="mainContainer">
  <div class="clearfix">
    <h1>Rubik's Cube Timer</h1>
  </div>
  <div class="content">
    <ul class="nav nav-tabs">
      <li <%= is_active "/" %>>
        <a href="/" data-toggle="tab">
          Timer
        </a>
      </li>
      <li <%= is_active "statistics" %>>
        <a href="/statistics" data-toggle="tab">
          Statistics
        </a>
      </li>
      <li <%= is_active "profile" %>>
        <a href="/profile" data-toggle="tab">
          Profile
        </a>
      </li>
    </ul>
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
