<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.title") %></title>
  <meta name="description" content="<%= t("application.meta.description") %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "analytics" %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="main-wrapper">
    <%= render "layouts/header" %>
    <div class="main-container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= devise_error_messages! %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </div>
</body>
</html>
